<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.weiyx.nos.mapper.iaas.SysAuthorityMapper">
    <select id="getUserAuthorityByUid" resultType="java.lang.String">
        SELECT
            a.authority_code
        FROM
             sys_authority a
            LEFT JOIN sys_role_authority ra ON a.id = ra.authority_id
            LEFT JOIN sys_role r ON r.id=ra.role_id
            LEFT JOIN sys_user_role ur ON ur.role_code=r.id
        WHERE
        ur.user_id=#{userId}
    </select>
</mapper>